/* 重置样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-blue {
    color: rgb(0, 127, 255);
}

/* 页脚样式 */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 0.4rem 0;
    width: 100%;
    margin-top: auto;
    font-size: 14px;
}

.fixed {
    position: fixed;
    bottom: 0; /* 添加底部定位 */
    left: 0; /* 添加左侧定位 */
    z-index: 999; /* 确保footer在其他元素之上 */
}
