/* 背景图片样式 */
img {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(3px);
    position: absolute;
    top: 0;
    left: 0;
}

/* 自定义按钮样式 */
.custom-button {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.75);
    border: 2px solid gray;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
}

/* 自定义按钮的伪元素样式 */
.custom-button::before, .custom-button::after {
    content: '';
    position: absolute;
    top: 0;
    width: 25px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
}

/* 左半圆的位置 */
.custom-button::before {
    left: -2px;
}

/* 右半圆的位置 */
.custom-button::after {
    right: -2px;
}

/* 按钮内的文本样式 */
.custom-button a {
    font-size: 18px;
    color: black;
    z-index: 1;
    position: relative;
    padding: 0 25px;
    text-decoration: none;
}

/* 标题样式 */
.title {
    font-size: 2rem;
    margin: 5rem;
    position: relative;
    z-index: 1;
}

/* 容器样式 */
.rgn {
    position: relative;
    padding: 10px;
    max-width: 100%;
    min-height: 100vh;
}

.text-blue {
    color: cyan;
}

/* 容器样式 */
.page-1-rgn {
    position: relative;
    padding: 10px;
    max-width: 100%;
    min-height: 100vh;
}

.text-black {
    color: black;
}

.text-white {
    color: white;
}
