/* 背景图片样式 */
img {
    margin: 0;
    padding: 0;

    overflow: hidden;
    display: block; /* 修改为 block 确保图片占据整个容器 */
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(3px);
    position: absolute;
    top: 0;
    left: 0;
}

/* 自定义按钮样式 */
.custom-button {
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.75);
    border: 2px solid gray;
    border-radius: 25px;
    position: absolute; /* 使用绝对定位 */
    top: 50%; /* 垂直居中 */
    left: 50%; /* 水平居中 */
    transform: translate(-50%, -50%); /* 精确居中 */
    z-index: 1;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none; /* 去除链接的下划线 */
}

/* 自定义按钮的伪元素样式 */
.custom-button::before, .custom-button::after {
    content: '';
    position: absolute;
    top: 0;
    width: 25px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
}

/* 左半圆的位置 */
.custom-button::before {
    left: -2px;
}

/* 右半圆的位置 */
.custom-button::after {
    right: -2px;
}

/* 按钮内的文本样式 */
.custom-button a {
    font-size: 18px;
    color: black;
    z-index: 1;
    position: relative;
    padding: 0 25px;
    text-decoration: none; /* 去除链接的下划线 */
}

/* 标题样式 */
.title {
    color: aqua;
    font-size: 2rem;
    margin: 2rem;
    position: relative; /* 使 .title 成为定位元素 */
    z-index: 1; /* 控制文本显示的层级 */
}

/* 容器样式 */
.rgn {
    position: relative; /* 使 .rgn 容器成为定位元素 */
    padding: 10px; /* 添加内边距 */
    max-width: 100%; /* 确保容器的最大宽度为100% */
    min-height: 100vh; /* 确保容器高度至少为视口高度 */
}
