html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
}
header {
    height: 50px; /* 根据实际情况调整 */
    background-color: rgba(0, 196, 244, 0.5);
}

footer{
    height: 50px; /* 根据实际情况调整 */
}
#iframe-container {
    flex: 1;
    position: relative;
    z-index: -1; /* 将其置于底层 */
}

object, embed {
    width: 100%;
    height: calc(100vh - 100px); /* 100% 视口高度减去 header 和 footer 的高度（50px + 50px）以及上边界 50px */
    position: absolute;
    top: 50px; /* 上边界留出 50px 的空间 */
    left: 0;
}
