/* 基本重置 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 全局样式 */
main {
    margin-top: 50px;
    flex: 1;
    padding: 2rem;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}


.content {
    font-size: 1.5em;
}

.hero {
    text-align: center;
    margin-bottom: 2rem;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.team {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 1.8em;
}

.team-member {
    text-align: center;
    margin-bottom: 2rem;
}

.team-member img {
    width: 150px;
    height: 150px;
    /* border-radius: 50%; */
    margin-bottom: 1rem;
}

.team-member h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.fab {
    color: rgb(0, 96, 192)
}

.icon-blue {
    color: rgb(0, 96, 192)
}

.icon-white {
    color: white
}

/* 标题样式 */
.title {
    font-size: 2rem;
    position: relative;
    z-index: 1;
}

/* 偷偷告诉你格式 */
.secret {
    font-size: 0.2em;
    text-decoration: line-through;
}

.notUseAnymore {
    font-size: 1em;
    color: #000;
    background-color: #000; /* 高亮背景色 */
    padding: 2px; /* 可选，增加内边距 */
}
