body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

header {
    background-color: rgba(0, 196, 244, 0.5);
}

iframe {
    width: 100%;
    height: calc(100% - 90px); /* 100% - (header height + footer height) */
    border: none;
    position: absolute; /* 使用绝对定位 */
    top: 50px; /* 与 header 的高度相同 */
    bottom: 40px; /* 与 footer 的高度相同 */
}
