body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

header {
    background-color: rgba(0, 196, 244, 0.5);
}

iframe {
    width: 100%;
    height: calc(100% - 100px); /* 调整总高度计算 */
    border: none;
    position: absolute;
    top: 60px; /* 修改为与导航栏高度一致 */
    bottom: 40px; /* 保持footer高度不变 */
}
